*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration:none;
    border:none;
    font-size: 1rem;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/Commissioner-Regular.woff2') format('woff2'),
        url('../fonts/Commissioner-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/Commissioner-Medium.woff2') format('woff2'),
        url('../fonts/Commissioner-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'thin';
    src: url('../fonts/Commissioner-Thin.woff2') format('woff2'),
        url('../fonts/Commissioner-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/Commissioner-Bold.woff2') format('woff2'),
        url('../fonts/Commissioner-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    background: rgba(122, 122, 122,.01);
}
.container{
    width:min(100%,1440px);
    margin-inline:auto;
}
header{
    background-image: url("../images/image-hero-desktop.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.navBar{
    width:min(100%,77%);
    margin-inline:auto;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center; 
    height:120px;
}
ul{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:2em;
    
}
ul li{
    position: relative;
    top: -2px;
}
ul li a{
    font-family: 'regular';
    color:#fff;
    font-size: .83em;
    text-transform: capitalize;
}
 .top{
        border:1px solid rgba(130, 130, 130,.3);
        border-radius: 10px;
        width:100%;
        background:#fff;

    }
.content{
    width:min(100%,50.7%);
    margin-inline: auto;
}
.common{
    width:min(100%,87%);
    margin-inline:auto;
}