* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  border: none;
  font-size: 1rem;
}
@font-face {
  font-family: "regular";
  src: url("../fonts/Commissioner-Regular.woff2") format("woff2"),
    url("../fonts/Commissioner-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Commissioner-Medium.woff2") format("woff2"),
    url("../fonts/Commissioner-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "thin";
  src: url("../fonts/Commissioner-Thin.woff2") format("woff2"),
    url("../fonts/Commissioner-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Commissioner-Bold.woff2") format("woff2"),
    url("../fonts/Commissioner-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background: rgba(54, 54, 54, 0.031);
}
.container {
  width: min(100%, 1440px);
  margin-inline: auto;
}
header {
  background-image: url("../images/image-hero-desktop.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.ham {
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  cursor: pointer;
}

.navBar {
  width: min(100%, 77%);
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
ul li {
  position: relative;
  top: -2px;
}
ul li a {
  font-family: "regular";
  color: #fff;
  font-size: 0.83em;
  text-transform: capitalize;
}
.top {
  border: 1px solid rgba(130, 130, 130, 0.5);
  border-radius: 10px;
  width: 100%;
  background: #fff;
}
.content {
  width: min(100%, 50.7%);
  margin-inline: auto;
}

#buz {
  opacity: 0.5;
  pointer-events: none;
}
#buz .low {
  display: none;
}
#buz hr {
  display: none;
}
.modal,
.modalt {
  display: none;
  position: fixed;
  z-index: 99999;
  /* padding-top: 100px; Location of the box */
  inset: 0;
  width: 100%; /* Full width */
  height: 100%;

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal {
  height: 100%;
  overflow: auto;
}
.act {
  display: flex;
}
.hide {
  display: none;
}
.block {
  display: block;
}
@media screen and (max-width: 1200px) {
  .content {
    width: min(100%, 65%);
  }
}
@media screen and (max-width: 850px) {
  .content {
    width: min(100%, 90%);
  }
  .navBar {
    width: min(100%, 95%);
  }
}
@media screen and (max-width: 635px) {
  .content {
    width: min(100%, 95%);
  }
}
@media screen and (max-width: 480px) {
  .ham {
    display: block;
  }
  header {
    height: 300px;
    background-image: url("../images/image-hero-mobile.jpg");
  }
  .navBar {
    width: min(100%, 100%);
    padding-inline: 1em;
    position: relative;
  }
  .logo,
  .ham {
    position: relative;
    z-index: 1010;
  }
  nav {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.582),
      rgba(0, 0, 0, 0.144)
    ); /* Fallback color */
    width: 100%; /* Full width */
    position: absolute;
    inset: 0;
    /* display: none; */
    height: 100dvh;
    transform: translateY(-250%);
    transition: transform 1.5s ease-out;
    z-index: 1000;

    transition: all 1s ease-in-out;
  }
  ul {
    width: 95%;
    background: #fff;
    position: absolute;
    left: 3%;
    top: 100px;
    border-radius: 10px;
    justify-content: unset;
    flex-direction: column;
    align-items: unset;
    padding: 1em;
    gap: 0em;
    overflow: hidden;
    box-shadow: 6px 7px 10px rgb(0 0 0);
  }
  ul li {
    top: 0;
    padding: 1.2em;
  }
  ul li:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 130%;
    height: 1px;
    background: #000;
    opacity: 0.1;
  }
  ul li a {
    color: #000;
    font-family: "medium";
    font-size: 1.1em;
  }

  nav.active {
    transform: translateY(0%);
    transition: all 1s ease-in;
  }
  ul.active {
    transform: translateY(0%);
    transition: transform 1s ease-in-out;
  }
}
.ham.active {
  background-image: url("../images/icon-close-menu.svg");
}
body.active{
  overflow: hidden;
}
