---
import Card from '../components/Card.astro'
import Button from '../components/Button.astro'
---
<main>
   <div class="container">
     <div class="content">
       <div class="top">
         <div class="img">
            <img src="../images/logo-mastercraft.svg" alt="mastercraft svg">

        </div>
        .
       </div>
        
        <Card/>
    </div>
   </div>
</main>
<style>
    .content{
        width:min(100%,50.7%);
        background: #fff;
        margin-inline:auto;
        height: 500px;
        margin-top: -5.75em;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .img{
        width:fit-content;
         margin-inline: auto;
         position: relative;
         top: -1.7em;
         z-index:23;
    }
</style>