---
import Card from '../components/Card.astro'
import Button from '../components/Button.astro'

// const { text } =Astro.props;
---
<main>
   <div class="container">
     <div class="content">
        
       <div class="top">
        <div class="img">
            <img src="../images/logo-mastercraft.svg" alt="mastercraft svg">
        </div>
        <div class="inners">
             
        <h1>Mastercraft Bamboo Monitor Riser</h1>
        <p>A beautiful & handcrafted monitor stand to reduce neck and eye strain.</p>
        <div class="btns">
            <Button text="Back this project"/>
            <div class="bookmark">
                <img src="../images/icon-bookmark.svg" alt="bookmark icon">
                <p>Bookmark</p>
            </div>
        </div>
        </div>
    </div>
        
        <Card/>
    </div>
   </div>
</main>
<style lang="scss">
    .content{
        width:min(100%,50.7%);
        margin-inline:auto;
        height: 500px;
        margin-top: -5.75em;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .img{
        width:fit-content;
         margin-inline: auto;
         position: relative;
         top: -1.75em;
         z-index:23;
    }
    .top{
        border:1px solid rgba(130, 130, 130,.3);
        border-radius: 10px;
        width:100%;
        background:#fff;
        padding-bottom: 3em;

    }
    .inners{
        width:min(100%,87%);
        margin-inline:auto;

        h1,p{
            text-align: center;
        }
        h1{
            font-family:'bold';
            font-size:1.75em;
            position: relative;
            top:-3px;
            line-height: 1;
            margin-bottom:.65em;
        }
        p{
            font-family: 'medium';
        }
    }
    .btns{
        margin-top:2.4em;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .bookmark{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;
        font-weight: 700;
        font-size: 0.9em;
        cursor: pointer;
        color: hsl(0, 0%, 48%);
        background: #ccc;
        border-radius:30px;
        width:175px;
        
       
        p {
            font-family: 'medium';
            padding-right:1.7em;
            
        }
    }
</style>