---
import PledgeCard from "./PledgeCard.vue";

---
<div class="modal">
    <div class="mcontent">
        <div class="mheader">
        <div class=".close"></div>
            <h2>Back this project</h2>
            <p>Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the world?</p>
        </div>
        <div class="alldivs">
            <PledgeCard client:visible/>
            <PledgeCard client:visible/>
            <PledgeCard client:visible/>
            <PledgeCard client:visible/>
        </div>
    </div>
</div>
<style lang="scss" is:inline>

</style>